@media only screen and (min-width: 992px) {
  .game {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .page {
    height: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .game {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .page {
    height: 100%;
  }
}
