/* Touch and keyPress */
.touch {
  animation: press 5s infinite;
  animation-delay: 1s;
}
.keyPress {
  --delay: 1s;
  animation: press 5s infinite;
  animation-delay: var(--delay);
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }
  55% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1);
  }
}
/* ---------------------------------------- */
/* Slide animations */

.slideY {
  transform: translateY(-1rem);
  animation: slideAnimationY 2.5s infinite steps(3);
  animation-delay: 0.9s;
}
@keyframes slideAnimationY {
  15% {
    transform: translateY(1rem);
  }
  50% {
    opacity: 1;
    transform: translateY(1rem);
  }
  51% {
    opacity: 0;
    transform: translateY(1rem);
  }
  99% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-1rem);
  }
}

.touchSlideY {
  animation: touchSlideAnimationY 2.5s infinite;
  animation-delay: 1s;
}

@keyframes touchSlideAnimationY {
  0% {
    transform: scale(0.8);
  }
  15% {
    transform: translateY(-1rem);
  }
  45% {
    transform: translateY(-1rem);
    transform: scale(1);
  }
}
.touchSlideX {
  animation: touchSlideAnimation 2.5s infinite;
  animation-delay: 1s;
}
@keyframes touchSlideAnimation {
  0% {
    transform: scale(0.8);
  }
  15% {
    transform: translateX(1rem);
  }
  45% {
    transform: translateX(1rem);
    transform: scale(1);
  }
  46% {
    transform: scale(0.8);
  }
  60% {
    transform: translateX(-1rem);
  }
}
.slideX {
  transform: translateX(-1rem);
  animation: slideAnimation 2.5s infinite steps(3);
  animation-delay: 1s;
}

@keyframes slideAnimation {
  15% {
    transform: translateX(1rem);
  }
  45% {
    transform: translateX(1rem);
  }
  60% {
    transform: translateX(-1rem);
  }
}

/* ---------------------------------------- */
/* rotate  */

.rotate {
  animation: rotate 5s infinite steps(1);
  animation-delay: 1s;
}

@keyframes rotate {
  5% {
    transform: rotate(90deg);
  }

  55% {
    transform: rotate(0deg);
  }
}
/* ---------------------------------------- */
/* SVG Hover */

.svgKeys {
  fill: #064e3b;
}

.svgKeys:hover{
  fill:#10b981;
}