/*Sections*/

.section {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-padding: 0 0px;
}

.section::-webkit-scrollbar {
  /* for chrome */
  display: none;
}
/* ----------------------- */

/* Screen Breakpoints */

/* Large */
@media only screen and (min-width: 992px) {
  .page {
    width: 100%;
    overflow: hidden;
  }
  .section {
    overflow: hidden;
  }
  .second_section {
    background-color: #10b981;
  }
  .third_section {
    background-color: #262626;
    height: 100%;
  }
}

/* mid */
@media only screen and (max-width: 991px) {
  .section {
    overflow: hidden;
    border-radius: 1cm;
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 1.25rem; /* 20px */
  }
  /* bg-color */

  .first_section {
    background-image: linear-gradient(to bottom, #10b981, #0a0a0a);
  }

  .second_section {
    background-image: linear-gradient(to bottom, #0a0a0a, #171717);
  }
  .third_section {
    background-image: linear-gradient(to bottom, #171717, #10b981);
  }
}

.main {
  height: fit-content;
}
