/* Carousel */
.svg {
    transform: scale(0.3);
  }
  .carousel {
    transition: transform 0.3s ease; /* Smooth transition for swipe */
  }
  .selectedDot {
    color: #f5f5f5;
  }
  /* ----------------------- */