/* Fade Animations */
.fadeL {
  opacity: 0;
  --distance-x: -2rem;
  --distance-y: 0;
  animation: fade-in 0.5s forwards;
}

.fadeR {
  --delay: 0.3s;
  opacity: 0;
  --distance-x: 2rem;
  --distance-y: 0;
  animation: fade-in 0.5s forwards;
  animation-delay: var(--delay);
}

.fadeT {
  --delay: 0s;
  opacity: 0;
  --distance-x: 0;
  --distance-y: -4rem;
  animation: fade-in 0.2s forwards;
  animation-delay: var(--delay);
}

.fadeB {
  --delay: 0s;
  opacity: 0;
  --distance-x: 0;
  --distance-y: 4rem;
  animation: fade-in 0.2s forwards;
  animation-delay: var(--delay);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(var(--distance-x), var(--distance-y));
  }
  50% {
    opacity: 0;
    transform: translate(var(--distance-x), var(--distance-y));
  }
  100% {
    opacity: 1;
    transform: translate(0rem, 0);
  }
}
/* ---------------------------------------- */

/* Shaking animation */
.shaking {
  --delay: 0.15s;
  animation: shake 0.6s forwards;
  animation-delay: var(--delay);
}

@keyframes shake {
  0% {
    transform: translate(0, 0.5rem);
  }
  35% {
    transform: translate(0, -0.5rem);
  }
  70% {
    transform: translate(0, 0rem);
  }
  80% {
    transform: translate(0, -0.1rem);
  }
  100% {
    transform: translate(0, 0);
  }
}
/* ------------------------------ */

/* Selfie  */
.frontImg {
  transform: translate(1rem, 1rem);
  filter: grayscale(100%);
  user-select: none;
}

/* Large */
@media only screen and (min-width: 992px) {
  .frontImg:hover {
    filter: grayscale(0%);
    transform: translate(0rem, 0rem);
    user-select: none;
  }
}

/* mid */
@media only screen and (max-width: 991px) {
  .frontImg:active {
    filter: grayscale(0%);
    transform: translate(0rem, 0rem);
    user-select: none;
  }
}
