.codeDiv {
  opacity: 0;
  --distance-x: 2rem;
  --distance-y: 0;
  animation: fade-in 1.4s forwards;
}

.codeH {
  opacity: 0;
  --distance-x: 2rem;
  --distance-y: 0;
  animation: fade-in 0.6s forwards;
  animation-delay: 1.3s;
}

/* Fade in */

.fade {
  opacity: 0;
  --distance-x: 0;
  --distance-y: 0;
  animation: fade-in 0.6s forwards;
}

.fadeT {
  opacity: 0;
  --distance-x: 0;
  --distance-y: -2rem;
  animation: fade-in 0.6s forwards;
}

.fadeL {
  opacity: 0;
  --distance-x: -2rem;
  --distance-y: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0.3s;
}

.fadeB {
  opacity: 0;
  --distance-x: 0;
  --distance-y: 2rem;
  animation: fade-in 0.8s forwards;
  animation-delay: 0.8s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(var(--distance-x), var(--distance-y));
  }
  to {
    opacity: 1;
    transform: translate(0rem, 0);
  }
}
/* ---------------------------- */
