.letterContainer {
  animation: addLetter 0.2s;
}

.modalCorrectCell {
  --bg-color: rgb(16 185 129);
  animation: rotateAnimation 0.5s forwards;
  animation-delay: 1s;
}

.modalIncorrectCell {
  --bg-color: rgb(239 68 68);
  animation: rotateAnimation 0.5s forwards;
  animation-delay: 1s;
}

.modalCloseEnoughCell {
  --bg-color: rgb(234 179 8);
  animation: rotateAnimation 0.5s forwards;
  animation-delay: 1s;
}
.correct {
  --bg-color: rgb(16 185 129);
  animation: rotateAnimation 0.5s forwards;
}

.incorrect {
  --bg-color: rgb(239 68 68);
  animation: rotateAnimation 0.5s forwards;
}

.closeEnough {
  --bg-color: rgb(234 179 8);
  animation: rotateAnimation 0.5s forwards;
}

.shake {
  animation: shakeAnimation 1s;
}

.keyPress:active {
  transform: scale(0.9);
}
.winAnimation {
  animation: winAnimation 0.8s;
}

.game {
  height: auto;
  overflow: hidden;
}

@media (max-height: 768px) {
  .modals {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .keys {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@keyframes winAnimation {
  0% {
    transform: scale(0) rotate(0deg);
  }
  10% {
    transform: scale(1.1) rotate(-5deg);
  }
  20% {
    transform: scale(1.1) rotate(5deg);
  }
  30% {
    transform: scale(1.1) rotate(0deg);
  }
  40% {
    transform: scale(1.1) rotate(-5deg);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes shakeAnimation {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(91deg);
  }
  100% {
    transform: rotateX(0deg);
    border-color: var(--bg-color);
    background-color: var(--bg-color);
  }
}

@keyframes addLetter {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}
